{% load minified %}<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {% block title %}{% endblock %}
      {% block title_suffix %}- FanfareHub{% endblock %}
    </title>

    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock %}

    {% block main %}
      <main class="container my-3">
        {% block messages %}
          {% include "includes/messages.html" %}
        {% endblock %}

        {% block content %}{% endblock %}
      </main>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block javascript %}{% endblock %}
  </body>
</html>
