{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<header class="p-5 text-center">
  <h1 class="mb-0">FanfareHub</h1>
  <h2 class="text-muted mb-0">La Brigade des Tubes</h2>
</header>
{% endblock %}

{% block main %}
<main class="card bg-light mx-auto mb-3 shadow-sm" style="max-width: 30rem">
  <div class="card-body">
    {% block main_title %}
    <h3 class="card-title">{{ title }}</h3>
    {% endblock %}

    {% include "includes/messages.html" %}

    {% block content %}{% endblock %}
  </div>
</main>
{% endblock %}
