{% extends "accounts/base.html" %}
{% load i18n tapeforms %}

{% block content %}
<p>
  {% blocktrans trimmed %}
    Forgotten your password? Enter your email address below, and we'll sent
    instructions for setting a new one.
  {% endblocktrans %}
</p>

<form method="post" action="" novalidate>
  {% csrf_token %}
  {% form form %}

  <div class="row justify-content-between">
    <div class="col-sm-auto">
      <button type="submit" class="btn btn-primary btn-block">
        {% trans "Reset my password" %}
      </button>
    </div>
    <div class="col-sm-auto">
      <a href="{% url "accounts:login" %}" class="btn btn-link btn-block">
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock %}
