{% load i18n%}<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}">FanfareHub</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url "accounts:profile" %}">
            {% trans "My profile" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "accounts:logout" %}">
            {% trans "Sign out" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
