{% extends "registration/registration_base.html" %}

{% load i18n tapeforms %}
{% block main_title %}{% endblock %}

{% block content %}
<form method="post" action="" class="mb-3" autocomplete="off" novalidate>
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}